body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  margin-bottom: 2rem;
}

.card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.card_img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  padding-top: 1rem;
}

.card_info {
  padding: 10px;
}

.card_catagory {
  font-size: 14px;
  color: #888;
}

.card_title {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

a {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
  
  .card {
    width: calc(50% - 20px);
  }
  
  .card_img {
    height: 150px;
  }
}
